In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
df=pickle.load(open('dataset_level2.pkl','rb'))

In [3]:
#coloumn needed for model building
df
#batting_team
#bowling_team
#curret_score
#wicket_left
#current_rr
#city
#ball_left
#score_in_last_five

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,2,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground
1,2,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground
2,2,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground
3,2,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground
4,2,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground
...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium
115321,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium
115322,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium
115323,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium
115324,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium

In [4]:
df[df['city'].isnull()]['venue'].value_counts()

venue
Dubai International Cricket Stadium        3916
Pallekele International Cricket Stadium    2066
Melbourne Cricket Ground                   1453
Sydney Cricket Ground                       749
Adelaide Oval                               498
Harare Sports Club                          372
Sharjah Cricket Stadium                     249
Sylhet International Cricket Stadium        128
Sylhet Stadium                              122
Carrara Oval                                 64
Name: count, dtype: int64

In [5]:
cities = np.where(df['city'].isnull(),df['venue'].str.split().apply(lambda x:x[0]),df['city'])

In [6]:
cities

array(['Melbourne', 'Melbourne', 'Melbourne', ..., 'Colombo', 'Colombo',
       'Colombo'], dtype=object)

In [7]:
df['city']=cities

In [8]:
df.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [9]:
df.drop(columns=['venue'],inplace=True)

In [10]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne
...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,0,Colombo
115321,964,Sri Lanka,Australia,19.4,0,0,Colombo
115322,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo
115323,964,Sri Lanka,Australia,19.6,2,0,Colombo
115324,964,Sri Lanka,Australia,19.7,1,0,Colombo

In [11]:
eligible_cities = df['city'].value_counts()[df['city'].value_counts()>600].index.tolist()

In [12]:
eligible_cities

['Colombo',
 'Dubai',
 'Mirpur',
 'Johannesburg',
 'London',
 'Auckland',
 'Cape Town',
 'Pallekele',
 'Barbados',
 'Sydney',
 'Melbourne',
 'Durban',
 'St Lucia',
 'Wellington',
 'Abu Dhabi',
 'Nottingham',
 'Chittagong',
 'Lauderhill',
 'Hamilton',
 'Centurion',
 'Manchester',
 'Mumbai',
 'Southampton',
 'Mount Maunganui',
 'Kolkata',
 'Lahore',
 'Greater Noida',
 'Delhi',
 'Nagpur',
 'Chandigarh',
 'Adelaide',
 'Bangalore',
 'St Kitts',
 'Cardiff',
 'Christchurch',
 'Trinidad']

In [13]:
df=df[df['city'].isin(eligible_cities)]

In [14]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne
...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,0,Colombo
115321,964,Sri Lanka,Australia,19.4,0,0,Colombo
115322,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo
115323,964,Sri Lanka,Australia,19.6,2,0,Colombo
115324,964,Sri Lanka,Australia,19.7,1,0,Colombo

In [15]:
df['runs'] = pd.to_numeric(df['runs'], errors='coerce')

df['current_score'] = df.groupby('match_id')['runs'].cumsum()

C:\Users\samar\AppData\Local\Temp\ipykernel_8856\1859481337.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['runs'] = pd.to_numeric(df['runs'], errors='coerce')
C:\Users\samar\AppData\Local\Temp\ipykernel_8856\1859481337.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['current_score'] = df.groupby('match_id')['runs'].cumsum()

In [16]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3
...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,0,Colombo,125
115321,964,Sri Lanka,Australia,19.4,0,0,Colombo,125
115322,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125
115323,964,Sri Lanka,Australia,19.6,2,0,Colombo,127
115324,964,Sri Lanka,Australia,19.7,1,0,Colombo,128

In [17]:
df['over'] = df['ball'].apply(lambda x:str(x).split(".")[0])
df['ball_no'] = df['ball'].apply(lambda x:str(x).split(".")[1])
df

C:\Users\samar\AppData\Local\Temp\ipykernel_8856\2777558413.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['over'] = df['ball'].apply(lambda x:str(x).split(".")[0])
C:\Users\samar\AppData\Local\Temp\ipykernel_8856\2777558413.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ball_no'] = df['ball'].apply(lambda x:str(x).split(".")[1])

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5
...,...,...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,0,Colombo,125,19,3
115321,964,Sri Lanka,Australia,19.4,0,0,Colombo,125,19,4
115322,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125,19,5
115323,964,Sri Lanka,Australia,19.6,2,0,Colombo,127,19,6
115324,964,Sri Lanka,Australia,19.7,1,0,Colombo,128,19,7

In [18]:
df['balls_bowled'] = (df['over'].astype('int')*6) + df['ball_no'].astype('int')
df

C:\Users\samar\AppData\Local\Temp\ipykernel_8856\562775579.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_bowled'] = (df['over'].astype('int')*6) + df['ball_no'].astype('int')

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,0,Colombo,125,19,3,117
115321,964,Sri Lanka,Australia,19.4,0,0,Colombo,125,19,4,118
115322,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125,19,5,119
115323,964,Sri Lanka,Australia,19.6,2,0,Colombo,127,19,6,120
115324,964,Sri Lanka,Australia,19.7,1,0,Colombo,128,19,7,121

In [19]:
df['balls_left'] = 120 - df['balls_bowled']
df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x)
df

C:\Users\samar\AppData\Local\Temp\ipykernel_8856\2304996896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_left'] = 120 - df['balls_bowled']
C:\Users\samar\AppData\Local\Temp\ipykernel_8856\2304996896.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x)

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115
...,...,...,...,...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,0,Colombo,125,19,3,117,3
115321,964,Sri Lanka,Australia,19.4,0,0,Colombo,125,19,4,118,2
115322,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125,19,5,119,1
115323,964,Sri Lanka,Australia,19.6,2,0,Colombo,127,19,6,120,0
115324,964,Sri Lanka,Australia,19.7,1,0,Colombo,128,19,7,121,0

In [20]:


df['player_dismissed'] = df['player_dismissed'].apply(lambda x: 0 if x == '0' else 1)


df['player_dismissed'] = df['player_dismissed'].astype(int)



df['player_dismissed'] = df.groupby('match_id')['player_dismissed'].transform('cumsum')


df['wickets_left'] = 10 - df['player_dismissed']


print(df[['match_id', 'player_dismissed', 'wickets_left']].head())

   match_id  player_dismissed  wickets_left
0         2                 0            10
1         2                 0            10
2         2                 0            10
3         2                 0            10
4         2                 0            10

C:\Users\samar\AppData\Local\Temp\ipykernel_8856\459262421.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df['player_dismissed'].apply(lambda x: 0 if x == '0' else 1)
C:\Users\samar\AppData\Local\Temp\ipykernel_8856\459262421.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df['player_dismissed'].astype(int)
C:\Users\samar\AppData\Local\Temp\ipykernel_8856\459262421.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df.groupby('match_id')['player_dismissed'].transform('cumsum')
C:\Users\samar\AppData\Local\Temp\ipykernel_8856\459262421.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wickets_left'] = 10 - df['player_dismissed']

In [21]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,10
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,10
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,10
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,10
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,8,Colombo,125,19,3,117,3,2
115321,964,Sri Lanka,Australia,19.4,0,8,Colombo,125,19,4,118,2,2
115322,964,Sri Lanka,Australia,19.5,0,9,Colombo,125,19,5,119,1,1
115323,964,Sri Lanka,Australia,19.6,2,9,Colombo,127,19,6,120,0,1
115324,964,Sri Lanka,Australia,19.7,1,9,Colombo,128,19,7,121,0,1

In [22]:
df['crr'] = (df['current_score']*6)/df['balls_bowled']

C:\Users\samar\AppData\Local\Temp\ipykernel_8856\914577034.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crr'] = (df['current_score']*6)/df['balls_bowled']

In [23]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,10,0.000000
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,10,0.000000
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,10,2.000000
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,10,4.500000
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,10,3.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,8,Colombo,125,19,3,117,3,2,6.410256
115321,964,Sri Lanka,Australia,19.4,0,8,Colombo,125,19,4,118,2,2,6.355932
115322,964,Sri Lanka,Australia,19.5,0,9,Colombo,125,19,5,119,1,1,6.302521
115323,964,Sri Lanka,Australia,19.6,2,9,Colombo,127,19,6,120,0,1,6.350000
115324,964,Sri Lanka,Australia,19.7,1,9,Colombo,128,19,7,121,0,1,6.347107

In [27]:

df['runs'] = pd.to_numeric(df['runs'], errors='coerce')
groups = df.groupby('match_id')


last_thirty_sum = []

for match_id, group in groups:
    rolling_sum = group['runs'].rolling(window=30).sum().tolist()
    last_thirty_sum.extend(rolling_sum)
    
df['last_five'] = last_thirty_sum

C:\Users\samar\AppData\Local\Temp\ipykernel_8856\1056626474.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['runs'] = pd.to_numeric(df['runs'], errors='coerce')
C:\Users\samar\AppData\Local\Temp\ipykernel_8856\1056626474.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['last_five'] = last_thirty_sum

In [28]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr,last_five
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,10,0.000000,NaN
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,10,0.000000,NaN
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,10,2.000000,NaN
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,10,4.500000,NaN
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,10,3.600000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,Australia,19.3,1,8,Colombo,125,19,3,117,3,2,6.410256,32.0
115321,964,Sri Lanka,Australia,19.4,0,8,Colombo,125,19,4,118,2,2,6.355932,32.0
115322,964,Sri Lanka,Australia,19.5,0,9,Colombo,125,19,5,119,1,1,6.302521,32.0
115323,964,Sri Lanka,Australia,19.6,2,9,Colombo,127,19,6,120,0,1,6.350000,33.0
115324,964,Sri Lanka,Australia,19.7,1,9,Colombo,128,19,7,121,0,1,6.347107,32.0

In [29]:
final_df = df.groupby('match_id').sum()['runs'].reset_index().merge(df,on='match_id')

In [30]:
final_df=final_df[['batting_team','bowling_team','city','current_score','balls_left','wickets_left','crr','last_five','runs_x']]

In [ ]:
final_df.dropna(inplace=True)

In [31]:
final_df

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_x
0,Australia,Sri Lanka,Melbourne,0,119,10,0.000000,NaN,168
1,Australia,Sri Lanka,Melbourne,0,118,10,0.000000,NaN,168
2,Australia,Sri Lanka,Melbourne,1,117,10,2.000000,NaN,168
3,Australia,Sri Lanka,Melbourne,3,116,10,4.500000,NaN,168
4,Australia,Sri Lanka,Melbourne,3,115,10,3.600000,NaN,168
...,...,...,...,...,...,...,...,...,...
54081,Sri Lanka,Australia,Colombo,125,3,2,6.410256,32.0,128
54082,Sri Lanka,Australia,Colombo,125,2,2,6.355932,32.0,128
54083,Sri Lanka,Australia,Colombo,125,1,1,6.302521,32.0,128
54084,Sri Lanka,Australia,Colombo,127,0,1,6.350000,33.0,128
54085,Sri Lanka,Australia,Colombo,128,0,1,6.347107,32.0,128

In [32]:
final_df=final_df.sample(final_df.shape[0])

In [33]:
final_df

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_x
37397,Netherlands,Ireland,Dubai,103,12,5,5.722222,29.0,114
28306,Bangladesh,New Zealand,Hamilton,52,60,5,5.200000,21.0,78
45371,Bangladesh,Sri Lanka,Chittagong,92,22,3,5.632653,29.0,120
48558,Australia,India,Sydney,54,87,9,9.818182,53.0,197
21896,Ireland,India,Nottingham,48,60,5,4.800000,24.0,112
...,...,...,...,...,...,...,...,...,...
25495,West Indies,Australia,Sydney,90,28,4,5.869565,30.0,138
41055,Pakistan,South Africa,Dubai,44,56,5,4.125000,26.0,98
51660,England,Afghanistan,Delhi,126,7,3,6.690265,45.0,142
52737,New Zealand,England,Delhi,109,37,7,7.879518,31.0,153
32865,West Indies,England,London,85,43,8,6.623377,29.0,125

In [34]:
X = final_df.drop(columns=['runs_x'])
y = final_df['runs_x']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [36]:
!pip install xgboost

Collecting xgboost
  Obtaining dependency information for xgboost from https://files.pythonhosted.org/packages/a2/48/d5da8591891327b0faf08179d420fba3893c6134bdd449497c5329e4cb01/xgboost-2.1.0-py3-none-win_amd64.whl.metadata
  Downloading xgboost-2.1.0-py3-none-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in c:\users\samar\anaconda3\lib\site-packages (from xgboost) (1.24.3)
Requirement already satisfied: scipy in c:\users\samar\anaconda3\lib\site-packages (from xgboost) (1.11.1)
Downloading xgboost-2.1.0-py3-none-win_amd64.whl (124.9 MB)
   ---------------------------------------- 0.0/124.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/124.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/124.9 MB 653.6 kB/s eta 0:03:12
   ---------------------------------------- 0.2/124.9 MB 2.5 MB/s eta 0:00:50
   ---------------------------------------- 0.6/124.9 MB 4.1 MB/s eta 0:00:31
   ---------------------------------------- 0.8/124.9 MB 4.3 MB/s eta 0:00:29
   ---------------------------------------- 1.3/124.9 MB 5.5 MB/s eta 0:00:23
    --------------------------------------- 1.9/124.9 MB 6.2 MB/s eta 0:00:20
    --------------------------------------- 2.2/124.9 MB 6.8 MB/s eta 0:00:19
    --------------------------------------- 2.3/124.9 MB 6.7 MB/s eta 0:00:19
    --------------------------------------- 3.0/124.9 MB 7.2 MB/s eta 0:00:18
   - -------------------------------------- 3.3/124.9 MB 7.5 MB/s eta 0:00:17
   - -------------------------------------- 3.3/124.9 MB 7.5 MB/s eta 0:00:17
   - -------------------------------------- 3.7/124.9 MB 7.1 MB/s eta 0:00:17
   - -------------------------------------- 4.4/124.9 MB 7.2 MB/s eta 0:00:17
   - -------------------------------------- 4.6/124.9 MB 7.0 MB/s eta 0:00:18
   - -------------------------------------- 4.8/124.9 MB 7.2 MB/s eta 0:00:17
   - -------------------------------------- 5.1/124.9 MB 7.1 MB/s eta 0:00:17
   - -------------------------------------- 5.3/124.9 MB 6.8 MB/s eta 0:00:18
   - -------------------------------------- 5.6/124.9 MB 6.7 MB/s eta 0:00:18
   - -------------------------------------- 5.8/124.9 MB 6.7 MB/s eta 0:00:18
   - -------------------------------------- 6.1/124.9 MB 6.6 MB/s eta 0:00:19
   -- ------------------------------------- 6.3/124.9 MB 6.5 MB/s eta 0:00:19
   -- ------------------------------------- 6.6/124.9 MB 6.4 MB/s eta 0:00:19
   -- ------------------------------------- 6.8/124.9 MB 6.4 MB/s eta 0:00:19
   -- ------------------------------------- 7.0/124.9 MB 6.3 MB/s eta 0:00:19
   -- ------------------------------------- 7.2/124.9 MB 6.2 MB/s eta 0:00:19
   -- ------------------------------------- 7.4/124.9 MB 6.2 MB/s eta 0:00:20
   -- ------------------------------------- 7.6/124.9 MB 6.2 MB/s eta 0:00:20
   -- ------------------------------------- 7.9/124.9 MB 6.1 MB/s eta 0:00:20
   -- ------------------------------------- 8.1/124.9 MB 6.0 MB/s eta 0:00:20
   -- ------------------------------------- 8.4/124.9 MB 6.0 MB/s eta 0:00:20
   -- ------------------------------------- 8.7/124.9 MB 6.0 MB/s eta 0:00:20
   -- ------------------------------------- 9.0/124.9 MB 6.0 MB/s eta 0:00:20
   -- ------------------------------------- 9.2/124.9 MB 6.0 MB/s eta 0:00:20
   --- ------------------------------------ 9.6/124.9 MB 6.0 MB/s eta 0:00:20
   --- ------------------------------------ 9.8/124.9 MB 6.0 MB/s eta 0:00:20
   --- ------------------------------------ 10.0/124.9 MB 6.0 MB/s eta 0:00:20
   --- ------------------------------------ 10.3/124.9 MB 6.2 MB/s eta 0:00:19
   --- ------------------------------------ 10.6/124.9 MB 6.1 MB/s eta 0:00:19
   --- ------------------------------------ 10.9/124.9 MB 6.3 MB/s eta 0:00:19
   --- ------------------------------------ 11.2/124.9 MB 6.2 MB/s eta 0:00:19
   --- ------------------------------------ 11.6/124.9 MB 6.1 MB/s eta 0:00:19
   --- ------------------------------------ 11.8/124.9 MB 6.1 MB/s eta 0:00:19
   --- ------------------------------------ 12.1/124.9 MB 6.0 MB/s eta 0:00:19
   --- ------------------------------------ 12.4/124.9 MB 6.0 MB/s eta 0:00:19
   ---- ----------------------------------- 12.7/124.9 MB 6.0 MB/s eta 0:00:19
   ---- ----------------------------------- 13.0/124.9 MB 5.8 MB/s eta 0:00:20
   ---- ----------------------------------- 13.3/124.9 MB 5.8 MB/s eta 0:00:20
   ---- ----------------------------------- 13.6/124.9 MB 5.9 MB/s eta 0:00:19
   ---- ----------------------------------- 14.0/124.9 MB 6.0 MB/s eta 0:00:19
   ---- ----------------------------------- 14.2/124.9 MB 5.8 MB/s eta 0:00:20
   ---- ----------------------------------- 14.6/124.9 MB 5.7 MB/s eta 0:00:20
   ---- ----------------------------------- 14.9/124.9 MB 5.7 MB/s eta 0:00:20
   ---- ----------------------------------- 15.2/124.9 MB 5.7 MB/s eta 0:00:20
   ---- ----------------------------------- 15.6/124.9 MB 5.8 MB/s eta 0:00:19
   ----- ---------------------------------- 15.9/124.9 MB 5.9 MB/s eta 0:00:19
   ----- ---------------------------------- 16.2/124.9 MB 6.0 MB/s eta 0:00:19
   ----- ---------------------------------- 16.5/124.9 MB 6.0 MB/s eta 0:00:19
   ----- ---------------------------------- 16.8/124.9 MB 6.0 MB/s eta 0:00:18
   ----- ---------------------------------- 17.2/124.9 MB 6.2 MB/s eta 0:00:18
   ----- ---------------------------------- 17.4/124.9 MB 6.2 MB/s eta 0:00:18
   ----- ---------------------------------- 17.7/124.9 MB 6.2 MB/s eta 0:00:18
   ----- ---------------------------------- 18.0/124.9 MB 6.3 MB/s eta 0:00:17
   ----- ---------------------------------- 18.2/124.9 MB 6.2 MB/s eta 0:00:18
   ----- ---------------------------------- 18.5/124.9 MB 6.2 MB/s eta 0:00:18
   ------ --------------------------------- 18.8/124.9 MB 6.3 MB/s eta 0:00:17
   ------ --------------------------------- 19.1/124.9 MB 6.2 MB/s eta 0:00:17
   ------ --------------------------------- 19.3/124.9 MB 6.2 MB/s eta 0:00:17
   ------ --------------------------------- 19.6/124.9 MB 6.2 MB/s eta 0:00:18
   ------ --------------------------------- 19.8/124.9 MB 6.2 MB/s eta 0:00:18
   ------ --------------------------------- 20.1/124.9 MB 6.3 MB/s eta 0:00:17
   ------ --------------------------------- 20.3/124.9 MB 6.1 MB/s eta 0:00:18
   ------ --------------------------------- 20.5/124.9 MB 6.1 MB/s eta 0:00:18
   ------ --------------------------------- 20.8/124.9 MB 6.2 MB/s eta 0:00:17
   ------ --------------------------------- 21.1/124.9 MB 6.1 MB/s eta 0:00:17
   ------ --------------------------------- 21.4/124.9 MB 6.2 MB/s eta 0:00:17
   ------ --------------------------------- 21.7/124.9 MB 6.1 MB/s eta 0:00:18
   ------- -------------------------------- 22.0/124.9 MB 6.1 MB/s eta 0:00:17
   ------- -------------------------------- 22.3/124.9 MB 6.1 MB/s eta 0:00:17
   ------- -------------------------------- 22.6/124.9 MB 6.1 MB/s eta 0:00:17
   ------- -------------------------------- 22.8/124.9 MB 6.1 MB/s eta 0:00:17
   ------- -------------------------------- 23.1/124.9 MB 6.1 MB/s eta 0:00:17
   ------- -------------------------------- 23.4/124.9 MB 6.1 MB/s eta 0:00:17
   ------- -------------------------------- 23.7/124.9 MB 6.1 MB/s eta 0:00:17
   ------- -------------------------------- 24.0/124.9 MB 6.1 MB/s eta 0:00:17
   ------- -------------------------------- 24.3/124.9 MB 6.1 MB/s eta 0:00:17
   ------- -------------------------------- 24.6/124.9 MB 6.1 MB/s eta 0:00:17
   ------- -------------------------------- 24.9/124.9 MB 6.1 MB/s eta 0:00:17
   -------- ------------------------------- 25.3/124.9 MB 6.1 MB/s eta 0:00:17
   -------- ------------------------------- 25.6/124.9 MB 6.1 MB/s eta 0:00:17
   -------- ------------------------------- 25.9/124.9 MB 6.0 MB/s eta 0:00:17
   -------- ------------------------------- 26.3/124.9 MB 6.1 MB/s eta 0:00:17
   -------- ------------------------------- 26.6/124.9 MB 6.1 MB/s eta 0:00:17
   -------- ------------------------------- 26.9/124.9 MB 6.0 MB/s eta 0:00:17
   -------- ------------------------------- 27.2/124.9 MB 6.1 MB/s eta 0:00:17
   -------- ------------------------------- 27.6/124.9 MB 6.1 MB/s eta 0:00:16
   -------- ------------------------------- 27.9/124.9 MB 6.2 MB/s eta 0:00:16
   --------- ------------------------------ 28.3/124.9 MB 6.2 MB/s eta 0:00:16
   --------- ------------------------------ 28.6/124.9 MB 6.2 MB/s eta 0:00:16
   --------- ------------------------------ 28.9/124.9 MB 6.2 MB/s eta 0:00:16
   --------- ------------------------------ 29.3/124.9 MB 6.3 MB/s eta 0:00:16
   --------- ------------------------------ 29.5/124.9 MB 6.3 MB/s eta 0:00:16
   --------- ------------------------------ 29.8/124.9 MB 6.4 MB/s eta 0:00:15
   --------- ------------------------------ 30.1/124.9 MB 6.3 MB/s eta 0:00:16
   --------- ------------------------------ 30.3/124.9 MB 6.3 MB/s eta 0:00:16
   --------- ------------------------------ 30.6/124.9 MB 6.4 MB/s eta 0:00:15
   --------- ------------------------------ 30.9/124.9 MB 6.4 MB/s eta 0:00:15
   --------- ------------------------------ 31.2/124.9 MB 6.4 MB/s eta 0:00:15
   ---------- ----------------------------- 31.4/124.9 MB 6.4 MB/s eta 0:00:15
   ---------- ----------------------------- 31.7/124.9 MB 6.3 MB/s eta 0:00:15
   ---------- ----------------------------- 32.0/124.9 MB 6.3 MB/s eta 0:00:15
   ---------- ----------------------------- 32.3/124.9 MB 6.4 MB/s eta 0:00:15
   ---------- ----------------------------- 32.5/124.9 MB 6.4 MB/s eta 0:00:15
   ---------- ----------------------------- 32.8/124.9 MB 6.3 MB/s eta 0:00:15
   ---------- ----------------------------- 33.0/124.9 MB 6.3 MB/s eta 0:00:15
   ---------- ----------------------------- 33.2/124.9 MB 6.3 MB/s eta 0:00:15
   ---------- ----------------------------- 33.6/124.9 MB 6.2 MB/s eta 0:00:15
   ---------- ----------------------------- 33.9/124.9 MB 6.4 MB/s eta 0:00:15
   ---------- ----------------------------- 34.2/124.9 MB 6.3 MB/s eta 0:00:15
   ----------- ---------------------------- 34.5/124.9 MB 6.4 MB/s eta 0:00:15
   ----------- ---------------------------- 34.8/124.9 MB 6.3 MB/s eta 0:00:15
   ----------- ---------------------------- 35.1/124.9 MB 6.4 MB/s eta 0:00:15
   ----------- ---------------------------- 35.4/124.9 MB 6.3 MB/s eta 0:00:15
   ----------- ---------------------------- 35.7/124.9 MB 6.3 MB/s eta 0:00:15
   ----------- ---------------------------- 36.1/124.9 MB 6.3 MB/s eta 0:00:15
   ----------- ---------------------------- 36.4/124.9 MB 6.3 MB/s eta 0:00:15
   ----------- ---------------------------- 36.5/124.9 MB 6.2 MB/s eta 0:00:15
   ----------- ---------------------------- 36.8/124.9 MB 6.1 MB/s eta 0:00:15
   ----------- ---------------------------- 37.0/124.9 MB 6.1 MB/s eta 0:00:15
   ----------- ---------------------------- 37.2/124.9 MB 6.0 MB/s eta 0:00:15
   ----------- ---------------------------- 37.4/124.9 MB 6.0 MB/s eta 0:00:15
   ------------ --------------------------- 37.6/124.9 MB 5.8 MB/s eta 0:00:15
   ------------ --------------------------- 37.8/124.9 MB 5.8 MB/s eta 0:00:15
   ------------ --------------------------- 38.0/124.9 MB 5.8 MB/s eta 0:00:16
   ------------ --------------------------- 38.1/124.9 MB 5.7 MB/s eta 0:00:16
   ------------ --------------------------- 38.4/124.9 MB 5.6 MB/s eta 0:00:16
   ------------ --------------------------- 38.6/124.9 MB 5.6 MB/s eta 0:00:16
   ------------ --------------------------- 38.8/124.9 MB 5.5 MB/s eta 0:00:16
   ------------ --------------------------- 39.0/124.9 MB 5.4 MB/s eta 0:00:16
   ------------ --------------------------- 39.2/124.9 MB 5.4 MB/s eta 0:00:16
   ------------ --------------------------- 39.5/124.9 MB 5.4 MB/s eta 0:00:16
   ------------ --------------------------- 39.7/124.9 MB 5.3 MB/s eta 0:00:17
   ------------ --------------------------- 39.9/124.9 MB 5.4 MB/s eta 0:00:16
   ------------ --------------------------- 40.2/124.9 MB 5.4 MB/s eta 0:00:16
   ------------ --------------------------- 40.4/124.9 MB 5.3 MB/s eta 0:00:16
   ------------- -------------------------- 40.6/124.9 MB 5.3 MB/s eta 0:00:16
   ------------- -------------------------- 40.9/124.9 MB 5.3 MB/s eta 0:00:16
   ------------- -------------------------- 41.2/124.9 MB 5.3 MB/s eta 0:00:16
   ------------- -------------------------- 41.4/124.9 MB 5.2 MB/s eta 0:00:16
   ------------- -------------------------- 41.6/124.9 MB 5.3 MB/s eta 0:00:16
   ------------- -------------------------- 41.9/124.9 MB 5.3 MB/s eta 0:00:16
   ------------- -------------------------- 42.1/124.9 MB 5.2 MB/s eta 0:00:16
   ------------- -------------------------- 42.4/124.9 MB 5.2 MB/s eta 0:00:16
   ------------- -------------------------- 42.5/124.9 MB 5.2 MB/s eta 0:00:16
   ------------- -------------------------- 42.8/124.9 MB 5.2 MB/s eta 0:00:16
   ------------- -------------------------- 43.0/124.9 MB 5.2 MB/s eta 0:00:16
   ------------- -------------------------- 43.2/124.9 MB 5.1 MB/s eta 0:00:16
   ------------- -------------------------- 43.4/124.9 MB 5.2 MB/s eta 0:00:16
   ------------- -------------------------- 43.6/124.9 MB 5.1 MB/s eta 0:00:17
   -------------- ------------------------- 43.9/124.9 MB 5.1 MB/s eta 0:00:16
   -------------- ------------------------- 44.2/124.9 MB 5.0 MB/s eta 0:00:17
   -------------- ------------------------- 44.5/124.9 MB 5.0 MB/s eta 0:00:16
   -------------- ------------------------- 44.8/124.9 MB 5.0 MB/s eta 0:00:17
   -------------- ------------------------- 45.0/124.9 MB 5.0 MB/s eta 0:00:17
   -------------- ------------------------- 45.2/124.9 MB 5.0 MB/s eta 0:00:17
   -------------- ------------------------- 45.5/124.9 MB 5.0 MB/s eta 0:00:16
   -------------- ------------------------- 45.8/124.9 MB 4.9 MB/s eta 0:00:17
   -------------- ------------------------- 46.1/124.9 MB 4.9 MB/s eta 0:00:16
   -------------- ------------------------- 46.4/124.9 MB 4.9 MB/s eta 0:00:16
   -------------- ------------------------- 46.7/124.9 MB 5.0 MB/s eta 0:00:16
   --------------- ------------------------ 47.0/124.9 MB 5.0 MB/s eta 0:00:16
   --------------- ------------------------ 47.3/124.9 MB 5.0 MB/s eta 0:00:16
   --------------- ------------------------ 47.7/124.9 MB 5.2 MB/s eta 0:00:15
   --------------- ------------------------ 47.9/124.9 MB 5.2 MB/s eta 0:00:15
   --------------- ------------------------ 48.3/124.9 MB 5.3 MB/s eta 0:00:15
   --------------- ------------------------ 48.6/124.9 MB 5.4 MB/s eta 0:00:15
   --------------- ------------------------ 48.8/124.9 MB 5.4 MB/s eta 0:00:15
   --------------- ------------------------ 49.0/124.9 MB 5.4 MB/s eta 0:00:15
   --------------- ------------------------ 49.3/124.9 MB 5.4 MB/s eta 0:00:14
   --------------- ------------------------ 49.6/124.9 MB 5.4 MB/s eta 0:00:14
   --------------- ------------------------ 49.9/124.9 MB 5.6 MB/s eta 0:00:14
   ---------------- ----------------------- 50.3/124.9 MB 5.6 MB/s eta 0:00:14
   ---------------- ----------------------- 50.6/124.9 MB 5.6 MB/s eta 0:00:14
   ---------------- ----------------------- 50.9/124.9 MB 5.7 MB/s eta 0:00:13
   ---------------- ----------------------- 51.2/124.9 MB 5.7 MB/s eta 0:00:13
   ---------------- ----------------------- 51.6/124.9 MB 5.8 MB/s eta 0:00:13
   ---------------- ----------------------- 51.9/124.9 MB 5.8 MB/s eta 0:00:13
   ---------------- ----------------------- 52.3/124.9 MB 5.8 MB/s eta 0:00:13
   ---------------- ----------------------- 52.6/124.9 MB 6.0 MB/s eta 0:00:13
   ---------------- ----------------------- 53.0/124.9 MB 6.1 MB/s eta 0:00:12
   ----------------- ---------------------- 53.3/124.9 MB 6.2 MB/s eta 0:00:12
   ----------------- ---------------------- 53.6/124.9 MB 6.3 MB/s eta 0:00:12
   ----------------- ---------------------- 54.0/124.9 MB 6.4 MB/s eta 0:00:12
   ----------------- ---------------------- 54.3/124.9 MB 6.5 MB/s eta 0:00:11
   ----------------- ---------------------- 54.7/124.9 MB 6.5 MB/s eta 0:00:11
   ----------------- ---------------------- 55.0/124.9 MB 6.5 MB/s eta 0:00:11
   ----------------- ---------------------- 55.3/124.9 MB 6.6 MB/s eta 0:00:11
   ----------------- ---------------------- 55.5/124.9 MB 6.5 MB/s eta 0:00:11
   ----------------- ---------------------- 55.7/124.9 MB 6.5 MB/s eta 0:00:11
   ----------------- ---------------------- 55.9/124.9 MB 6.4 MB/s eta 0:00:11
   ----------------- ---------------------- 56.0/124.9 MB 6.4 MB/s eta 0:00:11
   ------------------ --------------------- 56.2/124.9 MB 6.3 MB/s eta 0:00:11
   ------------------ --------------------- 56.4/124.9 MB 6.1 MB/s eta 0:00:12
   ------------------ --------------------- 56.6/124.9 MB 6.1 MB/s eta 0:00:12
   ------------------ --------------------- 56.9/124.9 MB 6.1 MB/s eta 0:00:12
   ------------------ --------------------- 57.1/124.9 MB 6.1 MB/s eta 0:00:12
   ------------------ --------------------- 57.3/124.9 MB 6.0 MB/s eta 0:00:12
   ------------------ --------------------- 57.5/124.9 MB 6.0 MB/s eta 0:00:12
   ------------------ --------------------- 57.8/124.9 MB 5.9 MB/s eta 0:00:12
   ------------------ --------------------- 58.0/124.9 MB 6.0 MB/s eta 0:00:12
   ------------------ --------------------- 58.3/124.9 MB 5.8 MB/s eta 0:00:12
   ------------------ --------------------- 58.6/124.9 MB 5.8 MB/s eta 0:00:12
   ------------------ --------------------- 58.8/124.9 MB 5.8 MB/s eta 0:00:12
   ------------------ --------------------- 59.0/124.9 MB 5.8 MB/s eta 0:00:12
   ------------------ --------------------- 59.2/124.9 MB 5.8 MB/s eta 0:00:12
   ------------------- -------------------- 59.5/124.9 MB 5.8 MB/s eta 0:00:12
   ------------------- -------------------- 59.8/124.9 MB 5.8 MB/s eta 0:00:12
   ------------------- -------------------- 60.0/124.9 MB 5.7 MB/s eta 0:00:12
   ------------------- -------------------- 60.3/124.9 MB 5.7 MB/s eta 0:00:12
   ------------------- -------------------- 60.6/124.9 MB 5.7 MB/s eta 0:00:12
   ------------------- -------------------- 60.9/124.9 MB 5.7 MB/s eta 0:00:12
   ------------------- -------------------- 61.1/124.9 MB 5.6 MB/s eta 0:00:12
   ------------------- -------------------- 61.4/124.9 MB 5.6 MB/s eta 0:00:12
   ------------------- -------------------- 61.7/124.9 MB 5.6 MB/s eta 0:00:12
   ------------------- -------------------- 62.0/124.9 MB 5.6 MB/s eta 0:00:12
   ------------------- -------------------- 62.3/124.9 MB 5.6 MB/s eta 0:00:12
   -------------------- ------------------- 62.6/124.9 MB 5.5 MB/s eta 0:00:12
   -------------------- ------------------- 62.9/124.9 MB 5.6 MB/s eta 0:00:12
   -------------------- ------------------- 63.2/124.9 MB 5.5 MB/s eta 0:00:12
   -------------------- ------------------- 63.5/124.9 MB 5.5 MB/s eta 0:00:12
   -------------------- ------------------- 63.8/124.9 MB 5.5 MB/s eta 0:00:12
   -------------------- ------------------- 64.1/124.9 MB 5.5 MB/s eta 0:00:12
   -------------------- ------------------- 64.4/124.9 MB 5.5 MB/s eta 0:00:12
   -------------------- ------------------- 64.7/124.9 MB 5.4 MB/s eta 0:00:12
   -------------------- ------------------- 65.0/124.9 MB 5.5 MB/s eta 0:00:11
   -------------------- ------------------- 65.3/124.9 MB 5.4 MB/s eta 0:00:12
   --------------------- ------------------ 65.6/124.9 MB 5.5 MB/s eta 0:00:11
   --------------------- ------------------ 65.9/124.9 MB 5.5 MB/s eta 0:00:11
   --------------------- ------------------ 66.3/124.9 MB 5.7 MB/s eta 0:00:11
   --------------------- ------------------ 66.6/124.9 MB 5.8 MB/s eta 0:00:11
   --------------------- ------------------ 66.9/124.9 MB 5.8 MB/s eta 0:00:10
   --------------------- ------------------ 67.3/124.9 MB 6.0 MB/s eta 0:00:10
   --------------------- ------------------ 67.6/124.9 MB 6.0 MB/s eta 0:00:10
   --------------------- ------------------ 67.9/124.9 MB 6.1 MB/s eta 0:00:10
   --------------------- ------------------ 68.2/124.9 MB 6.1 MB/s eta 0:00:10

In [37]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [38]:
  trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [39]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

C:\Users\samar\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.9650953710319118
2.3887090801112776

In [40]:
pickle.dump(pipe,open('pipe.pkl','wb'))

In [41]:
pickle.dump(pipe,open('pipe.pkl','wb'))
import xgboost
xgboost.__version__

'2.1.0'